<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="../css/reset.css"/>
        <link rel="stylesheet" href="../css/style.css"/>
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/aside.css">
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/sign-in.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="../javascript/sign-in.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <img src="../Assets/Img/radium-rocket-logo.jpg" alt="logo of Radium Rocket"/>
            <h1>
                Trackgenix
            </h1>
            <img class="hamburger" src="../Assets/Img/hamburguer-menu.png" alt="hamburguer-menu">
        </header>
        <aside class="aside">
            <div class="aside-form">
                <form action="">
                    <label for="Search-box">
                        <input class="aside-form-input" type="text" id="Search-box" placeholder="Search"/>
                    </label>
                </form>
            </div>
            <div class="aside-title">
                <h4>
                    Menu
                </h4>
            </div>
            <div class="aside-list">
                <ul>
                    <li class="aside-list-item">
                        <a class="aside-list-item-link" href="">
                            Home
                        </a>
                    </li>
                    <li class="aside-list-item">
                        <a class="aside-list-item-link" href="">
                            Sign Up
                        </a>
                    </li>
                    <li class="aside-list-item">
                        <a class="aside-list-item-link" href="">
                            Login
                        </a>
                    </li>
                    <li class="aside-list-item">
                        <a class="aside-list-item-link" href="">
                            Contact information
                        </a>
                    </li>
                </ul>
            </div>
            <div class="aside-image-text">
                <img class="aside-img" src="../Assets/Img/rocket-logo.png" alt="logo of Radium Rocket"/>
                <p class="aside-paragraph">
                    Developed by GigaTech Software Solutions S.A.
                </p>
            </div>
        </aside>
        <nav class="nav">
            <button class="nav-button">
                <a class="nav-button-a" href="">
                    Features
                </a>
            </button>
            <button class="nav-button">
                <a class="nav-button-a" href="">
                    Why Should You Use Trackgenix
                </a>
            </button>
            <button class="nav-button">
                <a class="nav-button-a" href="">
                    History
                </a>
            </button>
            <button class="nav-button">
                <a class="nav-button-a" href="">
                    Products
                </a>
            </button>
            <button class="nav-button">
                <a class="nav-button-a" href="">
                    About Us
                </a>
            </button>
            <button class="nav-button">
                <a class="nav-button-a" href="">
                    Support
                </a>
            </button>
        </nav>
        <main class="main">
            <section>
                <div class="greyBox">
                    <div class="signInTitle">
                        <h2>
                            Sign In
                        </h2>
                    </div>
                    <form action="">
                        <div class="textsBox">
                            <label for="email">
                                <input type="email" id="email" placeholder="Email"/>
                            </label>
                        </div>
                        <div class="textsBox">
                            <label for="password">
                                <input type="password" id="password" placeholder="Password"/>
                            </label>
                        </div>
                    </form>
                    <div class="rememberMe">
                        <label for="">
                            <input type="checkbox" id="remember-me"/>
                        </label>
                        <p>
                            Remember me
                        </p>
                    </div>
                    <div class="forgotPassword">
                        <a href="">
                            Forgot password?
                        </a>
                    </div>
                    <div class="dontHaveAccount">
                        <p>
                            Don't have an account?
                        </p>
                        <a class="signUpLink" href="">
                            Sign Up
                        </a>
                    </div>
                    <button class="buttonContinue">
                        Continue
                    </button>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="social-network">
                <a class="social-network-a" href="https://www.facebook.com/">
                    <img src="../Assets/Img/facebook-logo.png" alt="Facebook logo"/>
                </a>
                <a class="social-network-a" href="https://twitter.com/i/flow/login">
                    <img src="../Assets/Img/twitter-logo.png" alt="Twitter logo"/>
                </a>
                <a class="social-network-a" href="https://www.instagram.com/">
                    <img src="../Assets/Img/instagram-logo.png" alt="Instagram logo"/>
                </a>
                <a class="social-network-a" href="https://ar.linkedin.com/">
                    <img src="../Assets/Img/linkedin-logo.png" alt="Linkedin logo"/>
                </a>
            </div>
            <div>
                <p class="footer-div-p">
                    Rosario, Argentina
                </p>
                <p class="footer-div-p">
                    Copyright © 2022 GigaTech Software Solutions. All rights reserved.
                </p>
            </div>
        </footer>
    </body>
</html>