body {
    background-color: #ffffff;
}

header {
    display: inline;
    position: fixed;
    width: 1512px;
    height: 91px;
    background-color: #373867;
}

header h1 {
    position: absolute;
    width: 366px;
    height: 70px;
    left: 573px;
    top: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #46a07b;
}

header img {
    position: absolute;
    width: 65px;
    height: 67px;
    left: 26px;
    top: 12px;
}

aside {
    position: fixed;
    width: 253px;
    height: 891px;
    left: 0px;
    top: 91px;
    background-color: rgba(55, 56, 103, 0.1);
}

aside form {
    position: absolute;
    width: 236px;
    height: 30.5px;
    left: 8px;
    top: 21px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3.4px;
}

aside form input {
    border: 0;
    padding: 0;
    padding-left: 20px;
    width: 216px;
    height: 30.5px;
    left: 8px;
    top: 82px;
    background: #ffffff;

}

aside h4 {
    position: absolute;
    width: 50px;
    height: 23px;
    left: 92px;
    top: 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 19.3px;
    line-height: 23px;
    color: #373867;
}

aside ul {
    position: absolute;
    left: 46px;
    top: 162px;
}

aside ul li {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.3px;
    line-height: 23px;
    color: #479679;
}

aside img {
    position: absolute;
    width: 66px;
    height: 75px;
    left: 95px;
    top: 639px;
}

aside p {
    position: absolute;
    width: 232px;
    height: 13px;
    left: 12px;
    top: 740px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
}

nav {
    position: fixed;
    width: 1259px;
    height: 55px;
    left: 253px;
    top: 91px;
    background-color: #373867;
}

nav ul {
    position: absolute;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.3px;
    line-height: 23px;
}

nav ul li a {
    border: 1px solid #000000;
    text-decoration: none;
    color: #479679;
}

main {
    position: relative;
    display: block;
    width: 1259px;
    left: 253px;
    top: 146px;
    background-color: #ffffff;
}

main section {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

.section-welcome {
    position: relative;
    width: 100%;
    height: 839px;
}

.section-welcome h2 {
    position: absolute;
    width: 235px;
    height: 58px;
    left: 512px;
    top: 113px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 49.5px;
    line-height: 58px;
    color: #373867;
}

.section-welcome article {
    position: absolute;
    display: inline-block;
    width: 1090px;
    height: 457px;
    left: 134px;
    top: 231px;
    right: 0px;
}

.section-welcome article div {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.section-welcome article div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28.8px;
    line-height: 41px;
    align-items: center;
    color: #373867;
}

.section-welcome article img {
    position: absolute;
    display: inline-block;
}

.section-application-features {
    position: relative;
    width: 100%;
    height: 839px;
}

.section-application-features h3 {
    position: absolute;
    width: 386px;
    height: 47px;
    left: 267px;
    top: 135px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #373867;
}

.section-application-features article {
    position: relative;
    display: inline-block;
    width: 40%;
    height: 457px;
    left: 134px;
    top: 231px;
    right: 0px;
}

.section-application-features article h6 {
    position: absolute;
    width: 132px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    white-space: nowrap;
    color: #373867;
}

.section-application-features article img {
    position: absolute;
    display: inline-block;
    top: 48px;
}

.section-why-should-you {
    position: relative;
    width: 100%;
    height: 839px;
}

.section-why-should-you h3 {
    position: absolute;
    width: 596px;
    height: 41px;
    left: 245px;
    top: 133px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    white-space: nowrap;
    color: #373867;
}

.section-why-should-you article {
    position: relative;
    display: inline-block;
    width: 40%;
    left: 134px;
    top: 231px;
    right: 0px;
}


footer {
    position: relative;
    left: 253px;
    width: 1259px;
    background-color: #ffffff;
}