header {
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 91px;
    background-color: #373867;
    z-index: 1;
}

header h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #46a07b;
}

header img {
    height: 59px;
    width: 67px;
}

@media (min-width: 768px) {
    .hamburger {
        visibility: hidden;
    }
}

@media (min-width: 1200px) {
    header h1 {
        font-size: 6rem;
    }
}