html, body {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem;
}

img {
    max-width: 30rem;
}